@import "resets.scss";
$main-red: #B31918;
$main-black: #000000;
$font-big: 700;
* {
  border-radius: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #333333;
}
.wrapper {
  width: 1060px;
  margin: 0 auto;
  padding: 0 16px 0 16px;
}
.header-black {
  font-weight: $font-big;
  font-size: 13px;
  line-height: 15px;
  background-color: $main-black;
  width: 100vw;
  height: 43px;
  font-family: 'Roboto';
  font-style: normal;
  color: #ffffff;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 43px;
  }
  &__location {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  &__links {
    display: flex;
    gap: 20px;
    color: #ffffff;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  &__logo a {
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: $main-red;
  }
  &__navigation {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    &_red {
      color: $main-red;
    }
  }
  &__auth {
    font-weight: $font-big;
    font-size: 15px;
    line-height: 18px;
    background-color: #ffffff;
    border: .5px solid;
    color: $main-red;
    padding: 9px 55px;
    cursor: pointer;
    transition-duration: 0.25s;
    &:hover {
      background-color: $main-red;
      color: white;
    }
  }
}
.section-1-1-container {
  height: 593px;
  background-image: url(../img/background-1.png);
  background-size: cover;
}
.section-1-1 {
  height: 593px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 28px;
  &__title {
    font-weight: $font-big;
    font-size: 38px;
    line-height: 45px;
  }
  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  &__button {
    width: 300px;
    padding: 18px 0;
  }
}

.button-structure {
  font-weight: $font-big;
  font-size: 16px;
  line-height: 19px;
  color: white;
  border: 0;
  background-color: $main-red;
  cursor: pointer;
  transition-duration: 0.25s;
  &:hover {
    background-color: white;
    color: $main-red;
  }
}
.section-1-2 {
  display: flex;
  flex-direction: row;
  width: 99.1vw;
  height: 240px;
  font-weight: $font-big;
  font-size: 18px;
  line-height: 124.1%;
  color: white;
  margin-bottom: 104px;
  &__button {
    width: 216px;
    padding: 10px 0;
  }
  &__container-1 {
    background-image: url(../img/promotion_card-1.png);
    background-size: cover;
    padding: 30px;
    width: 25%;
  }
  &__container-2 {
    background-image: url(../img/promotion_card-2.png);
    background-size: cover;
    padding: 30px;
    width: 25%;
  }
  &__container-3 {
    background-image: url(../img/promotion_card-3.png);
    background-size: cover;
    padding: 30px;
    width: 25%;
  }
  &__container-4 {
    background-image: url(../img/promotion_card-4.png);
    background-size: cover;
    padding: 30px;
    width: 25%;
  }
}

.section-2 {
  margin-bottom: 96px;
}

.section-2-title {
  margin-bottom: 57px;
  display: flex;
  justify-content: space-between;
}
.section-2-news {
  width: 100%;
  display: flex;
  gap: 20px;
  &__block-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340px;
    height: 302px;
    padding: 15px;
    background-image: url(../img/news_card-1.png);
    background-size: cover;
  }
  &__block-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 340px;
    height: 302px;
    background-image: url(../img/news_card-2.png);
    background-size: cover;
  }
  &__block-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 340px;
    height: 302px;
    background-image: url(../img/news_card-3.png);
    background-size: cover;
  }
  &__date {
    width: 126px;
    height: 60px;
    background: #F4F5F5;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    font-weight: $font-big;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    color: #FFFFFF;
  }
  &__title {
    font-weight: $font-big;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 5px;
  }
  &__desc {
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
  }
}

.section-3 {
  &__title {
    font-weight: $font-big;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 40px;
  }
  &__desc {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 70px;
  }
  &__desc span{
    color:$main-red;
  }
  &__format {
    margin-bottom: 50px;
  }
  &__formats-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__formats-container-1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  &__formats-container-1-1 {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }
  &__formats {
    width: 490px;
    padding: 30px;
    background-image: url(../img/format-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__formats-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  &__formats-desc {
    padding-left: 20px;
    margin-bottom: 31px;
  }
  &__formats-desc li {
    margin-bottom: 18px;
  }
  &__formats-desc li:last-child {
    margin-bottom: 0px;
  }
  &__button {
    width: 180px;
    padding: 10px;
  }
  &__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 160px;
    padding: 40px;
    color: white;
  }
  &__formats-title {
    margin-bottom: 40px;
  }
  &__training {
    background-image: url(../img/format-bg-2.png);
    background-size: cover;
  }
  &__seminars {
    background-image: url(../img/format-bg-3.png);
    background-size: cover;
  }
  &__vebinars {
    background-image: url(../img/format-bg-3.png);
    background-size: cover;
  }
  &__consultation {
    background-image: url(../img/format-bg-5.png);
    background-size: cover;
  }
  &__formats-container-2 {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
  &__end-button-pos {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
  }
  &__end-button {
    width: 300px;
    padding: 20px;
    background: #B31918;
    border: 2px solid #CE3434;
  }
}

